<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_a9e91fbd5de048898028d1271ab8236a {
                    position: relative;
                    width: 600.0px;
                    height: 350.0px;
                    left: 20.0%;
                    top: 10.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_a9e91fbd5de048898028d1271ab8236a" ></div>
        
</body>
<script>    
    
            var map_a9e91fbd5de048898028d1271ab8236a = L.map(
                "map_a9e91fbd5de048898028d1271ab8236a",
                {
                    center: [24.79387658, 67.1351927],
                    crs: L.CRS.EPSG3857,
                    zoom: 18,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_7641a31bd9b5409c83b262ba22746551 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 18, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
            var circle_a783bbc9f60f4e0eb8e5a433b45ab69a = L.circle(
                [24.793864397827658, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_bf670b4662024def8ba3e1e81966f5df = L.popup({"maxWidth": "100%"});

        
            var html_1e89f48289d1435d977096136d6c8d36 = $(`<div id="html_1e89f48289d1435d977096136d6c8d36" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_bf670b4662024def8ba3e1e81966f5df.setContent(html_1e89f48289d1435d977096136d6c8d36);
        

        circle_a783bbc9f60f4e0eb8e5a433b45ab69a.bindPopup(popup_bf670b4662024def8ba3e1e81966f5df)
        ;

        
    
    
            var circle_8abe69f67fd64faf9e1f44e380cc971a = L.circle(
                [24.793876, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_0b48f9bbb9bd49d4bb7f4c05cb2135e1 = L.popup({"maxWidth": "100%"});

        
            var html_85712398169d470c8860c9b4fc28e1f8 = $(`<div id="html_85712398169d470c8860c9b4fc28e1f8" style="width: 100.0%; height: 100.0%;">2</div>`)[0];
            popup_0b48f9bbb9bd49d4bb7f4c05cb2135e1.setContent(html_85712398169d470c8860c9b4fc28e1f8);
        

        circle_8abe69f67fd64faf9e1f44e380cc971a.bindPopup(popup_0b48f9bbb9bd49d4bb7f4c05cb2135e1)
        ;

        
    
    
            var circle_426f5d21e5d1472e95b5eed9b88309e1 = L.circle(
                [24.793484300000003, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_722aab66b03d4460b4084b94724225e6 = L.popup({"maxWidth": "100%"});

        
            var html_8eee256adc51447bbda1e1a212117e9c = $(`<div id="html_8eee256adc51447bbda1e1a212117e9c" style="width: 100.0%; height: 100.0%;">2</div>`)[0];
            popup_722aab66b03d4460b4084b94724225e6.setContent(html_8eee256adc51447bbda1e1a212117e9c);
        

        circle_426f5d21e5d1472e95b5eed9b88309e1.bindPopup(popup_722aab66b03d4460b4084b94724225e6)
        ;

        
    
    
            var circle_1b3491f59982488d973f4e01b52493be = L.circle(
                [24.793876, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_ad11b2668ebc47dea7b841ee655beaec = L.popup({"maxWidth": "100%"});

        
            var html_ca976eed5b6e4a918837b2e6c5d01805 = $(`<div id="html_ca976eed5b6e4a918837b2e6c5d01805" style="width: 100.0%; height: 100.0%;">2</div>`)[0];
            popup_ad11b2668ebc47dea7b841ee655beaec.setContent(html_ca976eed5b6e4a918837b2e6c5d01805);
        

        circle_1b3491f59982488d973f4e01b52493be.bindPopup(popup_ad11b2668ebc47dea7b841ee655beaec)
        ;

        
    
    
            var circle_2c3fa33513884c25ab8b2d83fc0d3bd4 = L.circle(
                [24.793870234071935, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_d431d2937ccb4089ae496a001450956d = L.popup({"maxWidth": "100%"});

        
            var html_d2176d0413054644b7d66cc9fd0a9d32 = $(`<div id="html_d2176d0413054644b7d66cc9fd0a9d32" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_d431d2937ccb4089ae496a001450956d.setContent(html_d2176d0413054644b7d66cc9fd0a9d32);
        

        circle_2c3fa33513884c25ab8b2d83fc0d3bd4.bindPopup(popup_d431d2937ccb4089ae496a001450956d)
        ;

        
    
    
            var circle_be0d6ffaf7044516b94e5aac6b5ae749 = L.circle(
                [24.793876, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_20eceda63eed401e886287f80834f52f = L.popup({"maxWidth": "100%"});

        
            var html_d07a7b2078f844c28a313a4e7023be57 = $(`<div id="html_d07a7b2078f844c28a313a4e7023be57" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_20eceda63eed401e886287f80834f52f.setContent(html_d07a7b2078f844c28a313a4e7023be57);
        

        circle_be0d6ffaf7044516b94e5aac6b5ae749.bindPopup(popup_20eceda63eed401e886287f80834f52f)
        ;

        
    
    
            var circle_0fb531a069174b73b025e2ab94827c54 = L.circle(
                [24.79386943877151, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_4806e54266de4e4aad84286b98724198 = L.popup({"maxWidth": "100%"});

        
            var html_6ef195f748dd415198642eb4afd2ae0b = $(`<div id="html_6ef195f748dd415198642eb4afd2ae0b" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_4806e54266de4e4aad84286b98724198.setContent(html_6ef195f748dd415198642eb4afd2ae0b);
        

        circle_0fb531a069174b73b025e2ab94827c54.bindPopup(popup_4806e54266de4e4aad84286b98724198)
        ;

        
    
    
            var circle_889db514039e4e55a2587f542e3bc0cd = L.circle(
                [24.79386915555301, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_16a0c988b6cb4bdead0139546fd5cecc = L.popup({"maxWidth": "100%"});

        
            var html_e4b22fefb79449ee8bfa1b1aca853f9c = $(`<div id="html_e4b22fefb79449ee8bfa1b1aca853f9c" style="width: 100.0%; height: 100.0%;">3</div>`)[0];
            popup_16a0c988b6cb4bdead0139546fd5cecc.setContent(html_e4b22fefb79449ee8bfa1b1aca853f9c);
        

        circle_889db514039e4e55a2587f542e3bc0cd.bindPopup(popup_16a0c988b6cb4bdead0139546fd5cecc)
        ;

        
    
    
            var circle_e9e04c50e47d48969e8f5985dfcf8d73 = L.circle(
                [24.79386915555301, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_d1259775dcf7446b81cb3b220ff5e38e = L.popup({"maxWidth": "100%"});

        
            var html_1da5c6a58add4fae8acf502f066efbbc = $(`<div id="html_1da5c6a58add4fae8acf502f066efbbc" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_d1259775dcf7446b81cb3b220ff5e38e.setContent(html_1da5c6a58add4fae8acf502f066efbbc);
        

        circle_e9e04c50e47d48969e8f5985dfcf8d73.bindPopup(popup_d1259775dcf7446b81cb3b220ff5e38e)
        ;

        
    
    
            var circle_c345024d80394b3c8e1ff1b68962abfa = L.circle(
                [24.79387053230959, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_fa3070fb77744c2480e24f2cfd3ca2dd = L.popup({"maxWidth": "100%"});

        
            var html_c3f9c68a29ee457599606e7827e1c035 = $(`<div id="html_c3f9c68a29ee457599606e7827e1c035" style="width: 100.0%; height: 100.0%;">2</div>`)[0];
            popup_fa3070fb77744c2480e24f2cfd3ca2dd.setContent(html_c3f9c68a29ee457599606e7827e1c035);
        

        circle_c345024d80394b3c8e1ff1b68962abfa.bindPopup(popup_fa3070fb77744c2480e24f2cfd3ca2dd)
        ;

        
    
    
            var circle_68e4ab79506f452fa83f45c084e4d297 = L.circle(
                [24.793869105955572, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_caa86c84f80b41aeb6cfda4bcec6dcf2 = L.popup({"maxWidth": "100%"});

        
            var html_f75c787efa4a459397a77d40f6f7cdd9 = $(`<div id="html_f75c787efa4a459397a77d40f6f7cdd9" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_caa86c84f80b41aeb6cfda4bcec6dcf2.setContent(html_f75c787efa4a459397a77d40f6f7cdd9);
        

        circle_68e4ab79506f452fa83f45c084e4d297.bindPopup(popup_caa86c84f80b41aeb6cfda4bcec6dcf2)
        ;

        
    
    
            var circle_05f29f3c05334d5d85c0e3090054c1a4 = L.circle(
                [24.793862786414834, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_62f0d824a8e94a8abb4fb70c6592b508 = L.popup({"maxWidth": "100%"});

        
            var html_f6127e23711249679ff8d6e3a9eb0782 = $(`<div id="html_f6127e23711249679ff8d6e3a9eb0782" style="width: 100.0%; height: 100.0%;">3</div>`)[0];
            popup_62f0d824a8e94a8abb4fb70c6592b508.setContent(html_f6127e23711249679ff8d6e3a9eb0782);
        

        circle_05f29f3c05334d5d85c0e3090054c1a4.bindPopup(popup_62f0d824a8e94a8abb4fb70c6592b508)
        ;

        
    
    
            var circle_0f14bfb749fe4b5486e9a29e9f72c73d = L.circle(
                [24.79347686735796, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_3bc63743e49e4009b544ae25ddc87d90 = L.popup({"maxWidth": "100%"});

        
            var html_9ef6167d4ea64652b121bc22add90cc8 = $(`<div id="html_9ef6167d4ea64652b121bc22add90cc8" style="width: 100.0%; height: 100.0%;">2</div>`)[0];
            popup_3bc63743e49e4009b544ae25ddc87d90.setContent(html_9ef6167d4ea64652b121bc22add90cc8);
        

        circle_0f14bfb749fe4b5486e9a29e9f72c73d.bindPopup(popup_3bc63743e49e4009b544ae25ddc87d90)
        ;

        
    
    
            var circle_61b194921ee64ae1bdd2f568ab3ec40e = L.circle(
                [24.79386974093335, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_f498d298b5e74e81ad2703354d14e852 = L.popup({"maxWidth": "100%"});

        
            var html_5a02b283792f438a9fa37f5e2833c84b = $(`<div id="html_5a02b283792f438a9fa37f5e2833c84b" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_f498d298b5e74e81ad2703354d14e852.setContent(html_5a02b283792f438a9fa37f5e2833c84b);
        

        circle_61b194921ee64ae1bdd2f568ab3ec40e.bindPopup(popup_f498d298b5e74e81ad2703354d14e852)
        ;

        
    
    
            var circle_4bd38671ed90459bb08030385a2f83c7 = L.circle(
                [24.79387053230959, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_046ca66087c943cb982d0226925b7a19 = L.popup({"maxWidth": "100%"});

        
            var html_785b9e18f9b54a9baf90ebef5ebf0317 = $(`<div id="html_785b9e18f9b54a9baf90ebef5ebf0317" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_046ca66087c943cb982d0226925b7a19.setContent(html_785b9e18f9b54a9baf90ebef5ebf0317);
        

        circle_4bd38671ed90459bb08030385a2f83c7.bindPopup(popup_046ca66087c943cb982d0226925b7a19)
        ;

        
    
    
            var circle_e286b1e450f248859b2b71d1c8de09db = L.circle(
                [24.79387005388668, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_bb2b26f49a6c4603a3661c4f7e8214f8 = L.popup({"maxWidth": "100%"});

        
            var html_ccba4dd1c4784d1faa6952d6cf6e77d2 = $(`<div id="html_ccba4dd1c4784d1faa6952d6cf6e77d2" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_bb2b26f49a6c4603a3661c4f7e8214f8.setContent(html_ccba4dd1c4784d1faa6952d6cf6e77d2);
        

        circle_e286b1e450f248859b2b71d1c8de09db.bindPopup(popup_bb2b26f49a6c4603a3661c4f7e8214f8)
        ;

        
    
    
            var circle_f887fb22c52b4dcf9623b9dd22ab3af9 = L.circle(
                [24.793870468731797, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_f88a2e6c64214e2b9e6887ec82433ca3 = L.popup({"maxWidth": "100%"});

        
            var html_4cb5d9798857433f84e17a7593ffb81e = $(`<div id="html_4cb5d9798857433f84e17a7593ffb81e" style="width: 100.0%; height: 100.0%;">1</div>`)[0];
            popup_f88a2e6c64214e2b9e6887ec82433ca3.setContent(html_4cb5d9798857433f84e17a7593ffb81e);
        

        circle_f887fb22c52b4dcf9623b9dd22ab3af9.bindPopup(popup_f88a2e6c64214e2b9e6887ec82433ca3)
        ;

        
    
    
            var circle_6476eba18bf442989eba6b9b37d93b44 = L.circle(
                [24.793478463324046, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 1, "stroke": true, "weight": 3}
            ).addTo(map_a9e91fbd5de048898028d1271ab8236a);
        
    
        var popup_0ba9ac68e3854f889181647103a023f2 = L.popup({"maxWidth": "100%"});

        
            var html_30c5cd99e74c437d8e4dd03da1d4dac1 = $(`<div id="html_30c5cd99e74c437d8e4dd03da1d4dac1" style="width: 100.0%; height: 100.0%;">2</div>`)[0];
            popup_0ba9ac68e3854f889181647103a023f2.setContent(html_30c5cd99e74c437d8e4dd03da1d4dac1);
        

        circle_6476eba18bf442989eba6b9b37d93b44.bindPopup(popup_0ba9ac68e3854f889181647103a023f2)
        ;

        
    
</script>