<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_544556ef3a4846659a108824d50c37c4 {
                    position: relative;
                    width: 60.0%;
                    height: 300.0px;
                    left: 20.0%;
                    top: 5.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_544556ef3a4846659a108824d50c37c4" ></div>
        
</body>
<script>    
    
            var map_544556ef3a4846659a108824d50c37c4 = L.map(
                "map_544556ef3a4846659a108824d50c37c4",
                {
                    center: [24.79387658, 67.1351927],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_8c7360277df04f5097e6732e96aa3a7e = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
            var circle_2e9f4d3a41ab4cb4aa5d8a491ebcf97e = L.circle(
                [24.79509307407172, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_69f1e62db8b5493a9d272b845d531c82 = L.popup({"maxWidth": "100%"});

        
            var html_4161f31dfe9b471e81a2a642d9de771b = $(`<div id="html_4161f31dfe9b471e81a2a642d9de771b" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.79509307407172</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_69f1e62db8b5493a9d272b845d531c82.setContent(html_4161f31dfe9b471e81a2a642d9de771b);
        

        circle_2e9f4d3a41ab4cb4aa5d8a491ebcf97e.bindPopup(popup_69f1e62db8b5493a9d272b845d531c82)
        ;

        
    
    
            var circle_5552e40239864ae1ad38eea3f3aadcfc = L.circle(
                [24.793470309144386, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_bed2f5b69bec49ac86e623155804e6de = L.popup({"maxWidth": "100%"});

        
            var html_c96e4333e33b424691bd77d14b045d1a = $(`<div id="html_c96e4333e33b424691bd77d14b045d1a" style="width: 100.0%; height: 100.0%;"><h4>Location: 2</h4><p>Latitude: 24.793470309144386</p> <p>Latitude:  67.1340747</p></div>`)[0];
            popup_bed2f5b69bec49ac86e623155804e6de.setContent(html_c96e4333e33b424691bd77d14b045d1a);
        

        circle_5552e40239864ae1ad38eea3f3aadcfc.bindPopup(popup_bed2f5b69bec49ac86e623155804e6de)
        ;

        
    
    
            var circle_e0fc1700e3e8433c98dedd8793457588 = L.circle(
                [24.795090409147416, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_da267cf770a642aa823feeb3489777e8 = L.popup({"maxWidth": "100%"});

        
            var html_8ad6a1492bc74434b6c7760a53d0f57b = $(`<div id="html_8ad6a1492bc74434b6c7760a53d0f57b" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.795090409147416</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_da267cf770a642aa823feeb3489777e8.setContent(html_8ad6a1492bc74434b6c7760a53d0f57b);
        

        circle_e0fc1700e3e8433c98dedd8793457588.bindPopup(popup_da267cf770a642aa823feeb3489777e8)
        ;

        
    
    
            var circle_95b4c2805a664cf98cf35ea0942c240c = L.circle(
                [24.793470309144386, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_bb574f04c913418691f44b70fb07d928 = L.popup({"maxWidth": "100%"});

        
            var html_12e3d0d2b44c4586becc81de05d3f69a = $(`<div id="html_12e3d0d2b44c4586becc81de05d3f69a" style="width: 100.0%; height: 100.0%;"><h4>Location: 2</h4><p>Latitude: 24.793470309144386</p> <p>Latitude:  67.1340747</p></div>`)[0];
            popup_bb574f04c913418691f44b70fb07d928.setContent(html_12e3d0d2b44c4586becc81de05d3f69a);
        

        circle_95b4c2805a664cf98cf35ea0942c240c.bindPopup(popup_bb574f04c913418691f44b70fb07d928)
        ;

        
    
    
            var circle_f53c55b0091241fcb0d985afb3305fbf = L.circle(
                [24.793470309144386, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_6ab45655905244d69045625c9ea7d34c = L.popup({"maxWidth": "100%"});

        
            var html_683c4fda459042e5888da546af6e94e8 = $(`<div id="html_683c4fda459042e5888da546af6e94e8" style="width: 100.0%; height: 100.0%;"><h4>Location: 2</h4><p>Latitude: 24.793470309144386</p> <p>Latitude:  67.1340747</p></div>`)[0];
            popup_6ab45655905244d69045625c9ea7d34c.setContent(html_683c4fda459042e5888da546af6e94e8);
        

        circle_f53c55b0091241fcb0d985afb3305fbf.bindPopup(popup_6ab45655905244d69045625c9ea7d34c)
        ;

        
    
    
            var circle_0da7ee97478b436880739ef033cc3613 = L.circle(
                [24.79509307407172, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_017246458b5c46d887ba45d5dd8987ac = L.popup({"maxWidth": "100%"});

        
            var html_d992a67e95c9404991d1cb510b1b02a6 = $(`<div id="html_d992a67e95c9404991d1cb510b1b02a6" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.79509307407172</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_017246458b5c46d887ba45d5dd8987ac.setContent(html_d992a67e95c9404991d1cb510b1b02a6);
        

        circle_0da7ee97478b436880739ef033cc3613.bindPopup(popup_017246458b5c46d887ba45d5dd8987ac)
        ;

        
    
    
            var circle_4e84fc293ab541fba7060e1f3bacc240 = L.circle(
                [24.795090409147416, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_d51d8da4ff01409fb43aadb9a5797e76 = L.popup({"maxWidth": "100%"});

        
            var html_bfd7d511be5948e0b4338a2e8566f4e3 = $(`<div id="html_bfd7d511be5948e0b4338a2e8566f4e3" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.795090409147416</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_d51d8da4ff01409fb43aadb9a5797e76.setContent(html_bfd7d511be5948e0b4338a2e8566f4e3);
        

        circle_4e84fc293ab541fba7060e1f3bacc240.bindPopup(popup_d51d8da4ff01409fb43aadb9a5797e76)
        ;

        
    
    
            var circle_d9696367595445ea875a363e4b6184b9 = L.circle(
                [24.79509448981275, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_105e91c4fac0454283e5ea2364923d0d = L.popup({"maxWidth": "100%"});

        
            var html_fc4f61c9d2114f8996074628a4b0e6b3 = $(`<div id="html_fc4f61c9d2114f8996074628a4b0e6b3" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.79509448981275</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_105e91c4fac0454283e5ea2364923d0d.setContent(html_fc4f61c9d2114f8996074628a4b0e6b3);
        

        circle_d9696367595445ea875a363e4b6184b9.bindPopup(popup_105e91c4fac0454283e5ea2364923d0d)
        ;

        
    
    
            var circle_811882f1bfa84561a0aa54dd2b54ee08 = L.circle(
                [24.79346844369697, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_d6698d2c4e324b088bb51dc74aab9403 = L.popup({"maxWidth": "100%"});

        
            var html_42ec0035d8e443d3b42ac4bc0f2fb308 = $(`<div id="html_42ec0035d8e443d3b42ac4bc0f2fb308" style="width: 100.0%; height: 100.0%;"><h4>Location: 2</h4><p>Latitude: 24.79346844369697</p> <p>Latitude:  67.1340747</p></div>`)[0];
            popup_d6698d2c4e324b088bb51dc74aab9403.setContent(html_42ec0035d8e443d3b42ac4bc0f2fb308);
        

        circle_811882f1bfa84561a0aa54dd2b54ee08.bindPopup(popup_d6698d2c4e324b088bb51dc74aab9403)
        ;

        
    
    
            var circle_e7f6b9fd7b2e49e8aef0f701873caeb5 = L.circle(
                [24.795087411107566, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_78db5543e0c048e1867aa22ea5ce8cca = L.popup({"maxWidth": "100%"});

        
            var html_ab0b642ade5d4834b80b60585d14023d = $(`<div id="html_ab0b642ade5d4834b80b60585d14023d" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.795087411107566</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_78db5543e0c048e1867aa22ea5ce8cca.setContent(html_ab0b642ade5d4834b80b60585d14023d);
        

        circle_e7f6b9fd7b2e49e8aef0f701873caeb5.bindPopup(popup_78db5543e0c048e1867aa22ea5ce8cca)
        ;

        
    
    
            var circle_a42915f9fbd6456bbcf301a700cf7ae9 = L.circle(
                [24.795087411107566, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_1f93b1774457478baad483c84db8b78d = L.popup({"maxWidth": "100%"});

        
            var html_08ab5e9ac1e745f189d340145d047a1d = $(`<div id="html_08ab5e9ac1e745f189d340145d047a1d" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.795087411107566</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_1f93b1774457478baad483c84db8b78d.setContent(html_08ab5e9ac1e745f189d340145d047a1d);
        

        circle_a42915f9fbd6456bbcf301a700cf7ae9.bindPopup(popup_1f93b1774457478baad483c84db8b78d)
        ;

        
    
    
            var circle_7f85488477124938b3452866131c14c9 = L.circle(
                [24.795087411107566, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_fea279bbfc90474fbdc649e55379234f = L.popup({"maxWidth": "100%"});

        
            var html_eba2cc3bf222457db54ecfb1f3d6fc56 = $(`<div id="html_eba2cc3bf222457db54ecfb1f3d6fc56" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.795087411107566</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_fea279bbfc90474fbdc649e55379234f.setContent(html_eba2cc3bf222457db54ecfb1f3d6fc56);
        

        circle_7f85488477124938b3452866131c14c9.bindPopup(popup_fea279bbfc90474fbdc649e55379234f)
        ;

        
    
    
            var circle_2ee2d71e5bc4443f828719b7cb752bd0 = L.circle(
                [24.79346844369697, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_0fb2348663844cd3b02fe15c2fa03394 = L.popup({"maxWidth": "100%"});

        
            var html_7af1f0a303074a37965eebaf54507998 = $(`<div id="html_7af1f0a303074a37965eebaf54507998" style="width: 100.0%; height: 100.0%;"><h4>Location: 2</h4><p>Latitude: 24.79346844369697</p> <p>Latitude:  67.1340747</p></div>`)[0];
            popup_0fb2348663844cd3b02fe15c2fa03394.setContent(html_7af1f0a303074a37965eebaf54507998);
        

        circle_2ee2d71e5bc4443f828719b7cb752bd0.bindPopup(popup_0fb2348663844cd3b02fe15c2fa03394)
        ;

        
    
    
            var circle_b012a69000de480ab429d940ad1cce3f = L.circle(
                [24.79346844369697, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_787b751318b04419966f1296521046cf = L.popup({"maxWidth": "100%"});

        
            var html_0873e85ed4054c479951b1b5d0440138 = $(`<div id="html_0873e85ed4054c479951b1b5d0440138" style="width: 100.0%; height: 100.0%;"><h4>Location: 2</h4><p>Latitude: 24.79346844369697</p> <p>Latitude:  67.1340747</p></div>`)[0];
            popup_787b751318b04419966f1296521046cf.setContent(html_0873e85ed4054c479951b1b5d0440138);
        

        circle_b012a69000de480ab429d940ad1cce3f.bindPopup(popup_787b751318b04419966f1296521046cf)
        ;

        
    
    
            var circle_c31b39402eca458a9a297aa4a6d436fe = L.circle(
                [24.795087411107566, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_146df80ce0944c0c82eb01763cd6803f = L.popup({"maxWidth": "100%"});

        
            var html_5a5171ae270846de86cf8c1551876e88 = $(`<div id="html_5a5171ae270846de86cf8c1551876e88" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.795087411107566</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_146df80ce0944c0c82eb01763cd6803f.setContent(html_5a5171ae270846de86cf8c1551876e88);
        

        circle_c31b39402eca458a9a297aa4a6d436fe.bindPopup(popup_146df80ce0944c0c82eb01763cd6803f)
        ;

        
    
    
            var circle_e0bcce1ace8e42769377f4e46f94c4a8 = L.circle(
                [24.793470309144386, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_d797ff8fa2ed4a7f8b744def4338b3c0 = L.popup({"maxWidth": "100%"});

        
            var html_a15e8a098c274c7d826abd20a1627273 = $(`<div id="html_a15e8a098c274c7d826abd20a1627273" style="width: 100.0%; height: 100.0%;"><h4>Location: 2</h4><p>Latitude: 24.793470309144386</p> <p>Latitude:  67.1340747</p></div>`)[0];
            popup_d797ff8fa2ed4a7f8b744def4338b3c0.setContent(html_a15e8a098c274c7d826abd20a1627273);
        

        circle_e0bcce1ace8e42769377f4e46f94c4a8.bindPopup(popup_d797ff8fa2ed4a7f8b744def4338b3c0)
        ;

        
    
    
            var circle_1029c9e06c5e4df3b390720af778290d = L.circle(
                [24.79509760444303, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_a7e18c36b52a4d4bba0735247cea32c0 = L.popup({"maxWidth": "100%"});

        
            var html_953a6237381747a7883f14c55da1a9d6 = $(`<div id="html_953a6237381747a7883f14c55da1a9d6" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.79509760444303</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_a7e18c36b52a4d4bba0735247cea32c0.setContent(html_953a6237381747a7883f14c55da1a9d6);
        

        circle_1029c9e06c5e4df3b390720af778290d.bindPopup(popup_a7e18c36b52a4d4bba0735247cea32c0)
        ;

        
    
    
            var circle_e0c481e00a8041d99dd662042bb1facd = L.circle(
                [24.79509760444303, 67.1350019],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
        var popup_b29fa4e145a64afd966bf4934fd89c53 = L.popup({"maxWidth": "100%"});

        
            var html_392a272f60c3446d9d60b6ad50b92aaf = $(`<div id="html_392a272f60c3446d9d60b6ad50b92aaf" style="width: 100.0%; height: 100.0%;"><h4>Location: 3</h4><p>Latitude: 24.79509760444303</p> <p>Latitude:  67.1350019</p></div>`)[0];
            popup_b29fa4e145a64afd966bf4934fd89c53.setContent(html_392a272f60c3446d9d60b6ad50b92aaf);
        

        circle_e0c481e00a8041d99dd662042bb1facd.bindPopup(popup_b29fa4e145a64afd966bf4934fd89c53)
        ;

        
    
    
            var tile_layer_af121eef54b74c51aecd3a0113311ff5 = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/watercolor/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
            var tile_layer_f0bbdfc1c8f74aad9cdd4b60094343fa = L.tileLayer(
                "https://stamen-tiles-{s}.a.ssl.fastly.net/terrain/{z}/{x}/{y}.jpg",
                {"attribution": "Map tiles by \u003ca href=\"http://stamen.com\"\u003eStamen Design\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by/3.0\"\u003eCC BY 3.0\u003c/a\u003e. Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://creativecommons.org/licenses/by-sa/3.0\"\u003eCC BY SA\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
            var tile_layer_398e12cbd02c4cb781be413599ed6181 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
        
    
            var layer_control_3783a84aff5d4432a2fb456615068be2 = {
                base_layers : {
                    "openstreetmap" : tile_layer_398e12cbd02c4cb781be413599ed6181,
                    "stamenwatercolor" : tile_layer_af121eef54b74c51aecd3a0113311ff5,
                    "stamenterrain" : tile_layer_f0bbdfc1c8f74aad9cdd4b60094343fa,
                },
                overlays :  {
                },
            };
            L.control.layers(
                layer_control_3783a84aff5d4432a2fb456615068be2.base_layers,
                layer_control_3783a84aff5d4432a2fb456615068be2.overlays,
                {"autoZIndex": true, "collapsed": true, "position": "topright"}
            ).addTo(map_544556ef3a4846659a108824d50c37c4);
            tile_layer_af121eef54b74c51aecd3a0113311ff5.remove();
            tile_layer_f0bbdfc1c8f74aad9cdd4b60094343fa.remove();
            tile_layer_398e12cbd02c4cb781be413599ed6181.remove();
        
</script>