<!DOCTYPE html>
<head>    
    <meta http-equiv="content-type" content="text/html; charset=UTF-8" />
    
        <script>
            L_NO_TOUCH = false;
            L_DISABLE_3D = false;
        </script>
    
    <style>html, body {width: 100%;height: 100%;margin: 0;padding: 0;}</style>
    <style>#map {position:absolute;top:0;bottom:0;right:0;left:0;}</style>
    <script src="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/leaflet@1.6.0/dist/leaflet.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Leaflet.awesome-markers/2.0.2/leaflet.awesome-markers.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/python-visualization/folium/folium/templates/leaflet.awesome.rotate.min.css"/>
    
            <meta name="viewport" content="width=device-width,
                initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
            <style>
                #map_242cd8cbbbbe4f9dbfed280fbae82eed {
                    position: relative;
                    width: 60.0%;
                    height: 300.0px;
                    left: 20.0%;
                    top: 5.0%;
                }
            </style>
        
</head>
<body>    
    
            <div class="folium-map" id="map_242cd8cbbbbe4f9dbfed280fbae82eed" ></div>
        
</body>
<script>    
    
            var map_242cd8cbbbbe4f9dbfed280fbae82eed = L.map(
                "map_242cd8cbbbbe4f9dbfed280fbae82eed",
                {
                    center: [24.79387658, 67.1351927],
                    crs: L.CRS.EPSG3857,
                    zoom: 14,
                    zoomControl: true,
                    preferCanvas: false,
                }
            );

            

        
    
            var tile_layer_4c92a31390c545fdb011c34af9076982 = L.tileLayer(
                "https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png",
                {"attribution": "Data by \u0026copy; \u003ca href=\"http://openstreetmap.org\"\u003eOpenStreetMap\u003c/a\u003e, under \u003ca href=\"http://www.openstreetmap.org/copyright\"\u003eODbL\u003c/a\u003e.", "detectRetina": false, "maxNativeZoom": 18, "maxZoom": 18, "minZoom": 0, "noWrap": false, "opacity": 1, "subdomains": "abc", "tms": false}
            ).addTo(map_242cd8cbbbbe4f9dbfed280fbae82eed);
        
    
            var circle_6581d6c7ec3c4910b0258884616be0d1 = L.circle(
                [24.793479812367075, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_242cd8cbbbbe4f9dbfed280fbae82eed);
        
    
        var popup_9dd8866803de4986bac2195b48e71749 = L.popup({"maxWidth": "100%"});

        
            var html_400c9d1a94654185a079e525eb70a13d = $(`<div id="html_400c9d1a94654185a079e525eb70a13d" style="width: 100.0%; height: 100.0%;"><h4>Location: 2</h4><p>Latitude: 24.793479812367075</p> <p>Latitude:  67.1340747</p></div>`)[0];
            popup_9dd8866803de4986bac2195b48e71749.setContent(html_400c9d1a94654185a079e525eb70a13d);
        

        circle_6581d6c7ec3c4910b0258884616be0d1.bindPopup(popup_9dd8866803de4986bac2195b48e71749)
        ;

        
    
    
            var circle_3d1797dbe7bc423c99cf88f65212bd60 = L.circle(
                [24.793484300000003, 67.1340747],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_242cd8cbbbbe4f9dbfed280fbae82eed);
        
    
        var popup_c8dc134f3ea0459aa7e26d21716265cf = L.popup({"maxWidth": "100%"});

        
            var html_b9c4ce30568c48f09540e12b58d4baa2 = $(`<div id="html_b9c4ce30568c48f09540e12b58d4baa2" style="width: 100.0%; height: 100.0%;"><h4>Location: 2</h4><p>Latitude: 24.793484300000003</p> <p>Latitude:  67.1340747</p></div>`)[0];
            popup_c8dc134f3ea0459aa7e26d21716265cf.setContent(html_b9c4ce30568c48f09540e12b58d4baa2);
        

        circle_3d1797dbe7bc423c99cf88f65212bd60.bindPopup(popup_c8dc134f3ea0459aa7e26d21716265cf)
        ;

        
    
    
            var circle_eabf6b61e7184618b1af348cf96b655e = L.circle(
                [24.793876, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_242cd8cbbbbe4f9dbfed280fbae82eed);
        
    
        var popup_b79648d66b4a4acf9c4a97b2a86f58a9 = L.popup({"maxWidth": "100%"});

        
            var html_884d8bd42a814ce3b0fdf794e6b81e8d = $(`<div id="html_884d8bd42a814ce3b0fdf794e6b81e8d" style="width: 100.0%; height: 100.0%;"><h4>Location: 1</h4><p>Latitude: 24.793876</p> <p>Latitude:  67.1351927</p></div>`)[0];
            popup_b79648d66b4a4acf9c4a97b2a86f58a9.setContent(html_884d8bd42a814ce3b0fdf794e6b81e8d);
        

        circle_eabf6b61e7184618b1af348cf96b655e.bindPopup(popup_b79648d66b4a4acf9c4a97b2a86f58a9)
        ;

        
    
    
            var circle_f3f14c5891cd4edeae14cc6e85340f2f = L.circle(
                [24.793876, 67.1351927],
                {"bubblingMouseEvents": true, "color": "#3186cc", "dashArray": null, "dashOffset": null, "fill": true, "fillColor": "#3186cc", "fillOpacity": 0.2, "fillRule": "evenodd", "lineCap": "round", "lineJoin": "round", "opacity": 1.0, "radius": 2, "stroke": true, "weight": 3}
            ).addTo(map_242cd8cbbbbe4f9dbfed280fbae82eed);
        
    
        var popup_3d023845cace4231bbeb461739f5c6d9 = L.popup({"maxWidth": "100%"});

        
            var html_a3bc532485a841ca9ab4ce9933b8ac39 = $(`<div id="html_a3bc532485a841ca9ab4ce9933b8ac39" style="width: 100.0%; height: 100.0%;"><h4>Location: 1</h4><p>Latitude: 24.793876</p> <p>Latitude:  67.1351927</p></div>`)[0];
            popup_3d023845cace4231bbeb461739f5c6d9.setContent(html_a3bc532485a841ca9ab4ce9933b8ac39);
        

        circle_f3f14c5891cd4edeae14cc6e85340f2f.bindPopup(popup_3d023845cace4231bbeb461739f5c6d9)
        ;

        
    
</script>