<html>
<head>
<meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<title>Google Maps - gmplot</title>
<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?libraries=visualization&key=AIzaSyDXKvA6U5_v_iCMdyZH_XODboqJ8ivyfSM"></script>
<script type="text/javascript">
    function initialize() {
        var map = new google.maps.Map(document.getElementById("map_canvas"), {
            zoom: 16,
            center: new google.maps.LatLng(24.793877, 67.135193)
        });

        new google.maps.Polyline({
            clickable: false,
            geodesic: true,
            strokeColor: "#6495ED",
            strokeOpacity: 1.000000,
            strokeWeight: 3,
            map: map,
            path: [
            ]
        });

    }
</script>
</head>
<body style="margin:0px; padding:0px;" onload="initialize()">
    <div id="map_canvas" style="width: 100%; height: 100%;" />
</body>
</html>
