{% extends "base.html" %}
{% block title %} userDetail {% endblock %}

{% block content %}


<div class="container mt-3 border p-5 ">
  
<div class="row">
    <div class="col  text-center">
      <img class="text-center" style="border-radius: 1rem; height:100px;width:100px" src="{{url_for('static',filename=imageurl)}}" alt="image2">
      <h2 class="text-center">User {{uid}}</h2>
      
    </div>
     <br> 
    <br>
    
</div> 
    <div class="row">
      <div class="col">
        {% if nextLocation %}
        <h3>Next location={{nextLocation}}</h3>
        {% endif %}
        
        <div class="col">
          {{sdate}}
        <form action="" method="post">
          <input type="date" name="cdate">
          <input type="submit" value="select">
        </form>
        </div>
      </div>
    </div> 
    <div class="row">
      <div class="col">
        <div class="text-center">
      
          <img src="{{url_for('views.barchart2',userid=uid,sdate=sdate)}}" alt="">
          
          <br>
        </div>

      </div>
    </div>
    

</div>

<br>
<br>
<div class="row">
  <div class="col">
    <div class="text-center">
      <a class="btn btn-primary " href="{{url_for('views.showmap')}}">Show Detail map</a>
    </div>
  </div>
</div>
<div class="row">
    <!-- <div class="col latlongtable border border-primary">
        <table cellpadding="4"  class="mx-auto mt-3 ">
            <tr >
              <th class="col-md-2 mx-3">Date</th>
              <th class="col-md-2 mx-3">Time</th>
              <th class="col-md-2 mx-3">Latitude</th>
              <th class="col-md-2 mx-3">Longitude</th>
            </tr>
            {% for row in userLocationRecord%}
    
            <tr>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
            </tr>
           
        {% endfor %}
            
            
          </table>
    </div> -->
</div> 
<div class="row">

  
  
</div>   


</div>

<h2 class="text-center">Plotting Locations</h2>

<div class="mapSection">
  {% include "map.html" %}
  
</div>

<br>
<br>
<br>
<br>
{% endblock %}
