{% extends "base.html" %}
{% block title %} userDetail {% endblock %}

{% block content %}

<div class="container mt-3 border p-5">

<div class="row">
    <div class="col"><h2 class="text-center">User {{uid}}</h2>
     <br> 
    <h3>Next location=TucShop</h3>
    {{sdate}}
    <form action="" method="post">
      <input type="date" name="cdate">
      <input type="submit" value="select">
    </form>
    
    <br>
    <div class="text-center">
      
      <img src="{{url_for('views.barchart2',userid=uid,sdate=sdate)}}" alt="">
      <img src="{{timeSpendChart}}" alt="">
      <br>
    </div>
    </div>  

</div>
<div class="row">
    <!-- <div class="col latlongtable border border-primary">
        <table cellpadding="4"  class="mx-auto mt-3 ">
            <tr >
              <th class="col-md-2 mx-3">Date</th>
              <th class="col-md-2 mx-3">Time</th>
              <th class="col-md-2 mx-3">Latitude</th>
              <th class="col-md-2 mx-3">Longitude</th>
            </tr>
            {% for row in userLocationRecord%}
    
            <tr>
              <td>{{row[2]}}</td>
              <td>{{row[3]}}</td>
              <td>{{row[4]}}</td>
              <td>{{row[5]}}</td>
            </tr>
           
        {% endfor %}
            
            
          </table>
    </div> -->
</div> 
<div class="row">

  
  
</div>   


</div>

<h2 class="text-center">Plotting Locations</h2>
<div class="mapSection">
  {% include "map.html" %}
</div>
<br>
<br>
<br>
<br>
{% endblock %}
